@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
/*---RESET---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header .menu-color {
  background-color: #694d3a;
  background-color: white; }

header nav {
  width: 80px;
  height: 80px; }

header img {
  width: 80px;
  height: 80px; }

header .boton {
  background-color: white;
  color: black;
  font-size: 18px;
  border-radius: 5px;
  padding: 7px;
  border: 1px solid black; }
  header .boton:hover {
    background-color: #815a40;
    color: white; }

body {
  background-color: #1a1919; }

main .hero {
  width: 100%;
  height: 900px;
  background-image: url(../img/LOGO.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh; }

main h2 {
  color: rgb(0, 0, 0);
  font-size: 50px;
  border: 2px solid rgb(0, 0, 0);
  padding: 20px; }

main .hero p {
  color: rgb(0, 0, 0);
  font-size: 30px; }

main .hero a {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  width: 220px;
  padding: 13px;
  background: rgba(112, 49, 7, 0.349);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba 0, 0, 0, 0.1;
  margin-top: 30px;
  display: inline-block; }
  main .hero a:hover {
    color: rgb(0, 0, 0);
    background: rgba(255, 200, 0, 0.439); }
